/* move to styles.css later */

/* header */

header h1 {
  margin: 0;
}
header h1 a {
  display: block;
  text-indent: -133337em;
  margin: .25em auto;
  height: 120px;
  background-image: url(../images/reactionrx.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: transparent;
  opacity: .5;
}

/* tabs */
.nav li {
  width: 49.8%;
  border-radius: 10px 10px 0 0;
}

.nav-pills a,
.nav-pills a:focus,
.nav-pills a:hover {
  background: inherit !important;
}

.nav-pills a {
  font-weight: bold;
  color: #eee;
}

.tab-drug {
  background: #154898;
}

.tab-reaction {
  background: #ff6600;
}

/* search forms */

.search-form-container {
  margin: 0;
  padding: 0;
}

.search-form {
  padding: 1.5em;
}

.gradient-drug-search {
  background: -webkit-linear-gradient(#154898, #002244);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#154898, #002244);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#154898, #002244);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#154898, #002244);
  /* Standard syntax */
}

.gradient-reaction-search {
  background: -webkit-linear-gradient(#ff6600, #cc3300);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ff6600, #cc3300);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ff6600, #cc3300);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ff6600, #cc3300);
  /* Standard syntax */
}
